<div class="one" style="width:100vw;height:100vh">
   <div fxLayout="column">
       <mat-label fxLayout="start" class="two">Home/Login</mat-label>
   </div> 
   <div class="three">
       <mat-card>
    <div fxLayout="row">
        <img class="dont" src="assets/dont.png">
        <h2 class="do">Don't Make Me Think</h2>
        <h4 class="by">By Steve Krug</h4>
        <h3 class="rs"><strong>RS. 1500</strong></h3>
        <h5 class="rt">RS. 1500</h5>
    </div>
    <div fxLayout="row" class="order">
        <h3 class="o">***</h3><h2>Order Placed on May21</h2>
    </div>
    <div fxLayout="row">
        <img class="react" src="assets/react.png">
        <h2 class="re">React Material-UI</h2>
        <h4 class="co">By cook book</h4>
        <h3 class="price"><strong>RS. 700</strong></h3>
        <h5 class="rts">RS. 1000</h5>
    </div>
    <div fxLayout="row" class="order">
        <h3 class="o">***</h3><h2>Order Placed on April9</h2>
    </div>
</mat-card>
 </div>
</div>
