.two{
    margin-top: 30px;
    margin-left: 100px;
}
.dont{
    margin-top: 100px;
    margin-left: 200px;
}
.do{
    margin-top: 95px;  
    margin-left: 30px;
}
.re{
    margin-top: 95px;  
    margin-left: 30px;
} 
.by{
    margin-top: 125px;  
    margin-left: -186px; 
    color: #9D9D9D;
}
.co{
    margin-top: 125px;  
    margin-left: -155px; 
    color: #9D9D9D;
}
.rs{
    margin-top: 160px;  
    margin-left: -90px; 
}
.price{
    margin-top: 160px;  
    margin-left: -90px;   
}
.rt{
    text-decoration: line-through;
    margin-top: 165px;  
    margin-left: 15px; 
    color: #9D9D9D;
}
.rts{
    text-decoration: line-through;
    margin-top: 165px;  
    margin-left: 15px; 
    color: #9D9D9D; 
}
.order{
    margin-top: -100px;  
    margin-left: 1200px;   
}
.o{
    color: #26A541;
}
.react{
    margin-top: 100px;
    margin-left: 200px;
}