.logo{
    height:220Px;
    width:220px;
    border-radius: 50%;
    margin-top: 10px;
}
.em1{
    width:365px;
}
.pw1{
    width:365px;
}
.mob{
    width:365px;
}
.full{
    width:365px;
}
.btnface{
    background-color: #4266B2;
    color: #FFFFFF;
    width: 126px;
    height: 37px;
    margin-bottom: 28px;
}
.btngoog{
    color: #0A0102;
    width: 126px;
    height: 37px;
}
.li{
    margin-left: 270px;
    margin-bottom: 20px;
}
.btnlog{
    height:40px;
    width:365px;
    background-color: #A03037;
    color: #FFFFFF;
}
.btnSign{
    height:40px;
    width:365px;
    background-color: #A03037;
    color: #FFFFFF;
}
.ref{
    width: 81px;
    height: 13px;
    font: normal normal normal 12px/15px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
}
.log{
    margin-bottom: 100px;
}
.or{
    margin-top: -10px;
    text-align: center;
}
.first{
    padding-bottom: 100px;
    padding-top: 60px;
}