<div style="width:100vw;height:100vh;">
    <mat-toolbar class="tool">
        <button class="ic" mat-icon-button><img src="assets\Book.png" alt=""></button>
        <p class="bo">BooKStore</p>
    </mat-toolbar>
    </div>   
<div class="one" fxLayoutAlign="center center" style="width:100vw;height:100vh">
    <div fxLayout="column">
        <h1 fxLayoutAlign="center">Forgot Your Password?</h1>
        <mat-card class="two" fxFlex="10">
           <div>
            <span fxLayoutAlign="center center">Enter your email address and we'll send you</span>
            <span fxLayoutAlign="center center">a link to reset your password.</span>
           </div> 
           <br>           
           <mat-label fxLayoutAlign="start">Email Id</mat-label>
                <mat-form-field class="em" appearance="outline">
                    <input type="text" matInput>
                    <mat-error>Enter Email id</mat-error>
                </mat-form-field>
                <div class="btn" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="25px"> 
                    <div>
                        <button mat-button class="btnreset">Reset Password</button>
                    </div>                              
                </div> 
                <div class="two" fxLayoutAlign="center">
                    <mat-label><strong mat-raised-button routerLink="/login">CREATE YOUR ACCOUNT</strong></mat-label>
                </div>         
        </mat-card>
    </div>
    <router-outlet></router-outlet>
</div>
