.tool{
    background-color: #A03037;
}
.bo{
    padding-top: 8px;
    color: #FFFFFF;
    font: normal normal normal 20px/26px Roboto;
    font-size: 20px;
}
.ic{
    padding-top: 3px;
    background-color: transparent;
    border: none;
    padding-left: 150px;    
}
.em{
    width:365px;
}
.btnreset{
    height:40px;
    width:365px;
    background-color: #A03037;
    color: #FFFFFF;
}
.one{
    margin-top: -700px;
}
.two{
    padding-top: 20px;
}

