.tool{
    background-color:#a03037
}
.bo{
    padding-top: 8px;
    color: #FFFFFF;
    font: normal normal normal 20px/26px Roboto;
    font-size: 20px;
}
.ic{
    padding-top: 3px;
    background-color: transparent;
    border: none;
    padding-left: 150px;    
}
.search{
    margin-left: 50px;
    width: 500px;
    height: 30px;
    border-radius: 4px;
    border:none;
    text-decoration: none;
}
.profileicon{
    border:none;
    text-decoration: none;
    background-color: transparent;
}
.pr{
    margin-left: 130px;
    margin-top: 17px;
}
.car{
    margin-left: 80px;
    margin-top: 17px;
}
.text{
    font: normal normal normal 11px/13px Roboto;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    text-align: center;
    opacity: 1;    
}
.btnlog{
    background-color: #a03037;
    color:#FFFFFF;
    //border-radius: 3px;
    margin-left: 10px;
    margin-right: 25px;
    width: 70px;
    height: 30px;

}
.align{
    padding-left: 20px;
}